@{
    ViewData["Title"] = "Home Page - MvcUniversity";
}

<div class="text-center">
    <h1 class="display-4">MvcUniversity</h1>
    <p>Campus management done right
        
    </p>
    <p><img src="../images/ensc.jpg" alt="ENSC" /></p>
</div>
